body { 
    margin:0; 
    padding:0; 
}

#map { 
    position:absolute; 
    top:0; 
    bottom:0; 
    width:100%; 
}

.map-overlay {
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    padding: 10px;
}

.map-overlay-inner div {
    margin-top: 10px;
}

h1 {
    font-size: 20px !important;
}

.marker{
    height: 20px;
    vertical-align: bottom;
}

h4 {
    margin: 0 0 10px;
}

.legend{
    padding-top: 40px;
}

.legend div span{
    display: inline-block;
    margin-right: 10px;
    border: solid 1px #000;
    height: 10px;
    width: 10px;
}


.large-recipient-values{
    background-color: #228b22;
}

.medium-recipient-values{
    background-color: #64ae64;
}

.small-recipient-values{
    background-color: #b2d6b2;
}

.zero-recipient-values{
    background-color: #fff;
}

#onclick-information{
    font-weight: bold;
}

#members-legend{
    display: none;
}
.large-member-values{
    background-color: #8b2222;
}

.medium-member-values{
    background-color: #ad6464;
}

.small-member-values{
    background-color: #d0a6a6;
}

.zero-member-values{
    background-color: #fff;
}

#community-connections-legend{
    display: none;
}
.large-community-values{
    background-color: #22228b;
}

.medium-community-values{
    background-color: #6464ad;
}

.small-community-values{
    background-color: #a6a6d0;
}

.zero-community-values{
    background-color: #fff;
}