body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}


.map-overlay {
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    padding: 10px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    padding: 10px;
}

.map-overlay-inner div {
    margin-top: 10px;
}

.map-overlay-inner span {
    font-weight: 600;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.key-title {
    padding-top: 30px;
    margin-bottom: -15px;
}

.station-info {
    padding-top: 10px;
}

.square {
    height: 25px;
    width: 37.5px;
    margin-right: 10px;
}

#red {
    background-color: #F00;
}

#orange {
    background-color: #FFA500;
}

#yellow {
    background-color: #FFFF00;
}

#green {
    background-color: #0c0;
}

.homepage-link {
    color: #4169E1;
    display: block;
    text-align: center;
    margin-top: 20px;
}
.homepage-link:hover {
    display: block;
    color: #e18741;
}