  
    body { 
        margin:0; 
        padding:0; 
        }

    #map { 
        position:absolute; 
        top:0; 
        bottom:0; 
        width:100%; 
        }

    .map-overlay {
        font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        padding: 10px;
    }
    
    .map-overlay .map-overlay-inner {
        background-color: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
        border-radius: 4px;
        padding: 10px;
    }
    
    .map-overlay-inner div {
        margin-top: 10px;
    }

    h3 {
        text-align: center
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        font-weight: bold;
    }
    
    .key-title {
        padding-top: 30px;
        margin-bottom: -15px;
    }
    

    .square {
        height: 25px;
        width: 37.5px;
        margin-right: 10px;
    }

    #red {
        background-color: #F00;
        border: solid 1px #000;
    }

    #yellow {
        background-color: #FF0;
        border: solid 1px #000;
    }

    #green {
        background-color: #00FF00;
        border: solid 1px #000;
    }

    #woodland {
        background-color: #0c0;
    }

    #surface-water{
        background-color: #00FFFF;
    }


    .homepage-link {
        color: #4169E1;
        display: block;
        text-align: center;
        margin-top: 20px;
    }
    .homepage-link:hover {
        display: block;
        color: #e18741;
    }



    .turbine-marker{
        background-image: url('windturbineicon.png');
        background-size: cover;
        background-color: "#FFF";
        color: "#FFF"; 
        width: 30px;
        height: 30px;
        border: solid 2px #000;
        border-radius: 50%;
        cursor: pointer;
    }